.header {
    background-color: rgb(176, 203, 203);
    padding:10px 0;
}

.header-nav ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.header-nev a{
    text-decoration: none;
}
.body
{
    background-color: pink;
}